body {
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: white;
}

.fullscreen {
    height: 100vh;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 8em
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

ul li {
    line-height: 1; /* Adjust as required. This is a multiplier of the current font size. */
    margin: 0.5em 0; /* Adjust as required. This adds 10px margin to the top and bottom of each list item. */
}

li {
    font-size: 2em;
}

article {
    margin-left: 1rem;
}