body {
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: white;
}

.fullscreen {
    /* width: 100vw; */
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 4rem
}