body {
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: white;
}

.fullscreen {
    height: 100vh;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8em
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

li {
    font-size: 2em;
}
